@font-face {
  font-family: 'hivelvet-icons';
  src:  url('fonts/hivelvet-icons.eot');
  src:  url('fonts/hivelvet-icons.eot') format('embedded-opentype'),
    url('fonts/hivelvet-icons.ttf') format('truetype'),
    url('fonts/hivelvet-icons.woff') format('woff'),
    url('fonts/hivelvet-icons.woff2') format('woff2'),
    url('fonts/hivelvet-icons.svg?') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hivelvet-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hivelvet-mp4:before {
  content: "\e100";
}

.icon-hivelvet-room:before {
  content: "\e101";
}

.icon-hivelvet-zcaleright:before {
  content: "\e102";
}

.icon-hivelvet-role:before {
  content: "\e103";
}

.icon-hivelvet-general-settings:before {
  content: "\e104";
}

.icon-hivelvet-bigbluebutton:before {
  content: "\e105";
}

.icon-hivelvet-playback-presentation:before {
  content: "\e106";
}

.icon-hivelvet-playback-podcast:before {
  content: "\e107";
}

.icon-hivelvet-activity-reports:before {
  content: "\e108";
}

.icon-hivelvet-preset:before {
  content: "\e109";
}