**/.git
**/.github
**/.history
**/.idea
**/node_modules
**/vendor
**/dist
**/.yarn/cache
**/.yarn/install-state.gz
**/.pnp.cjs
**/.pnp.loader.mjs
bbbeasy-backend/logs
bbbeasy-backend/tmp
bbbeasy-backend/uploads
bbbeasy-docs
docker/logs
docker/cache
docker/data
vagrant
package
tools
